
.contact-wrapper{
  text-align: center;
  position: absolute;
  top: 50%;
  left: -120%;
  transform: translate(-50%, -50%); 
  padding: 1% 7%;

  transition: all 0.8s ease-in-out;
  background-color: rgba(34, 34, 34, 0.55);
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: scroll;
}




.contact-title-wrapper{
  color: #fff;
  text-decoration: none;
  font-size: 150px;
  font-family: oswald;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), 0 0 20px rgba(41, 16, 30, 0.4), 0 0 5px rgba(91, 75, 75, 0.5);
  cursor: default;
}

.contact-title{
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 60px;
}

iframe{
  width: 78vw;
  box-shadow: 1px 0px 0px 2px #1d1d1d;
}


.contact-row{
  
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 15px;
}

.contact-box{
  
}

.contact-item{
  width: 33.33333333%;
  float: left;
}

.contact-picture{
  
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: #f3f3f3;
  color: #000;
  font-size: 2rem;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0 auto;
}

.contact-picture-inner{
  
  width: 50px;
  height: 50px;
  padding: 10px;
}

.contact-inner-title{
  
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin: 0;
  margin-top: 10px;
  font-family: 'Oswald',sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.contact-text{
  
  line-height: 1.5rem;
}

  
@media only screen and (max-width: 650px) {
    
  .contact-wrapper{
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .contact-title{
    margin-top: -2px;
    font-size: 33px;
  }
  iframe{
    max-height: 20vh;
  }

  .contact-item{
    width: 100%;
    min-height: 15vh;
  }
  .contact-picture{
    display: inline-block;
    float: left;
    margin-top: 10px;
    position: relative;
    left: 0px;
  }

  .contact-inner-title{
    width: 70vw;
    margin-left: auto;
  }
  .contact-text{
    width: 70vw;
    margin-left: auto;
  }

  
  .contact-box{

    .contact-item:last-child .contact-text{
      font-size: 1em !important;
      word-break: break-all;
    }
}

}




@media (min-width: 290px) and (max-width: 790px) and (orientation:landscape) {
  
  .contact-wrapper {
    max-height: 70vh;
    margin-top: 10vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  iframe{
    max-height: 20vh;
  }

  .contact-box{

    .contact-item:last-child .contact-text{
      font-size: .7em;
      word-break: break-all;
    }
}

}