
.footer{
    text-align: right;
    width: 100%;
    padding: 10px 0;
  }
  
  .created-by{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-style: italic;
    font-size: 12px;
    padding: 10px 20px;
    cursor: default;
    text-decoration: none;
    color: #fff;
  }
  
  .date{
    
    font-size: 10px;
    padding-right: 20px;
    font-style: italic;
    color: #fff;
    position: absolute;
    right: 5px;
    bottom: 8px;
  }

  .logo-bottom-mobile{
    bottom: 0;
    margin-bottom: 25px;
    display: none;
  }
  .swiper-right-mobile{
    bottom: 0;
    margin-left: 10px;
    margin-bottom: 25px;
    display: none;
  }
  .swiper-left-mobile{
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 25px;
    display: none;
    
  }

  @media only screen and (max-width: 800px) {
    
  .logo-bottom-mobile{
    display: block;
    margin-bottom: 5px;
  }
  .swiper-right-mobile{
    display: block;
    margin-bottom: 5px;
  }
  .swiper-left-mobile{
    display: block;
    margin-bottom: 5px;
  }

  .created-by{
    display: none;
  }
  .date{
    display: none;
  }
}



@media (min-width: 290px) and (max-width: 790px) and (orientation:landscape) {

  .footer {
    display: none;
  }


}